
body{
    background: #eee;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color: crimson;
}
h2{
    color: royalblue;
}
nav ul{
    text-align: center;
    padding: 0;
    margin: 30px auto;
}
nav li{
    display: inline-block;
    margin: 0 10px;
}
nav a{
    color: #777;
    text-decoration: none;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
  nav li a{
    text-decoration: none;
    color: #4B4B4B;
  }
  nav li a:hover{
    text-decoration: underline;
  }